//$federal-primary: #e07800;
$federal-primary: #F8504B;
$federal-secondary: #FFFFFF;
$federal-text: #3d3c3c;

$federal-text-light: #6b6b6a;

$federal-background-light: #b4b4b4;

$brand-primary: $federal-primary;